.DateVertical {
    font-family: Lato-Regular, sans-serif;
    font-size: 27px;
    align-items: center;
}

.DateVertical .day {
    font-size: 49px;
    line-height: 30px;
}

.DateVertical .month {
    width: initial;
    font-size: 27px;
    line-height: 45px;
}

.DateVertical .year {
    font-size: 23px;
    line-height: 10px;
}