footer {
    background-color: #40474e;
    justify-content: center;
    color: #f3f3f7;
}

footer .container {
    width: 1170px;
    margin-bottom: 50px;
}

footer .menu {
    border-bottom: 2px solid #f3f3f7;
}

footer .menu ul {
    list-style: none;
    padding: 30px 0;
    margin: 0;
}

footer .menu ul li {
    font-family: FagotCondensed, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline;
    padding: 20px 0;
}

footer .menu ul li + li {
    margin-left: 55px;
}

footer .menu ul li.checked,
footer .menu ul li:hover {
    color: #559dff;
}

footer .bottom {
    padding: 25px 0;
}

footer .bottom .logo {
    justify-content: center;
    align-items: center;
    flex: 0 0 100px;
}

footer .bottom .logo img {
    width: 74px;
    cursor: pointer;
}

footer .bottom .socials {
    width: 270px;
    align-items: flex-start;
}

footer .bottom .socials > div {
    padding-left: 20px;
}

footer .bottom .subscription {
    flex-grow: 1;
    align-items: center;
}

footer .bottom .subscription .input {
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
    position: relative;
}

footer .bottom .subscription .input input {
    height: 36px;
    border-radius: 100px;
    border: 1px solid #ffffffa3;
    background: #40474e;
    color: #f3f3f7;
    font-family: Lato-Regular, sans-serif;
    padding: 0 15px;
    font-size: 16px;
    width: calc(100% - 30px);
}

footer .bottom .subscription .input button {
    position: absolute;
    margin: auto 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 30px;
    border: none;
    border-radius: 100px;
    background: #f3f3f7;
    color: #525960;
    font-size: 16px;
    padding: 0 20px;
    font-family: FagotCondensed, sans-serif;
    cursor: pointer;
    transition: .3s;
}

footer .bottom .subscription .input button:hover {
    background: #559dff;
    color: #fff;
}

footer .bottom .info {
    flex: 0 0 150px;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

footer .bottom .info .ico {
    background: #f3f3f7;
    border-radius: 50%;
    color: #40474e;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

footer .bottom .info .ico i {
    font-size: 16px;
}

footer .bottom .info .email {
    margin-left: 10px;
    color: #f3f3f7;
}

footer .bottom .info:hover .ico {
    background: #559dff;
}

footer .bottom .info:hover .email {
    color: #559dff;
}

footer .bottom .icons {
    margin-top: 10px;
}